<%- include('header'); -%>

  <title>Input Wallet Adress</title>
  <link rel="stylesheet" href="\div.css">

  </head>

  <body>

    <div class=" input-group mb-3">
      <form action="/" method="post">
        <h4>Wallet Address :</h4>
        <input type="text" name="walletAdressInput" class="form-control inputCss" placeholder="Enter Wallet Address">
        <button type="submit" class="button btn btn-dark">FETCH</button>
      </form>
    </div>

  </body>

  </html>